<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Enviar parametros del request HTTP GET -url</title>
</head>
<body>
    <h1>Enviar parametros del request HTTP</h1>
    <ul>
        <li> <a th:href="@{/params/string(texto='Hola diego')}">/params/string?texto=Hola diego</a></li>
        <li> <a th:href="@{/params/string(texto='Que tal alejandro')}">/params/string?texto=Que tal alejandro</a></li>

        <li> <a th:href="@{/params/mix-params(saludo='Como estas Alejandro', numero=7)}">/params/mix-params?saludo=Como estas alejandro&numero=7</a></li>
        <li> <a th:href="@{/params/mix-params-request(saludo='Como estas Alejandro', numero=7)}">/params/mix-params-request?saludo=Como estas alejandro&numero=7</a></li>


    </ul>
</body>
</html>